@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .card {
        display: grid;
        grid-template-columns: 1fr 45% 30%;
    }
    .mobile {
        display: grid;
        grid-template-columns: 1fr minmax(20rem, 5fr)
    }
}